// 375px min width


.body {
    min-width: 37.5rem;
    overflow-x: hidden;
}

.main {
    display: grid;
    place-items: center;

    font-family: $font-main;
}


///////////////// HEADER 

.header {
    text-align: center;
    
}

.heading-1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: $color-dark-magenta;
    padding: 0 5rem;
    margin-top: 2rem;
}

.heading-text {
    font-size: 1.3rem;
    margin-top: 1.3rem;
    padding: 1.5rem 3rem;
    line-height: 2rem;
}

.review {
    text-align: center;

    &__box {
        margin: 2rem 0;
        background-color: $color-lg-magenta;
        
    }
    &__icon {
        height: 2rem;
        width: 2rem;
        margin: .5rem;
    }

    &__text {
        color: $color-dark-magenta;
        font-size: 1.5rem;
        font-weight: 700;
        margin-top: 1rem;
    }
}

///////////////////////// CARDS

.cards {
    margin-top: 1.5rem;
    padding: 0 3rem;
    font-family: $font-main;
    
}
.cardbox {
    margin: 2rem 0;
    background-color: $color-dark-magenta;
    border-radius: 5px;
    min-width: 30rem;
    max-width: 40rem;
    
    

    &__headings {
        margin-left: 2rem;
    
    }


    &__head {
        padding: 2rem;
        margin-left: 1.3rem;
        font-size: 1.5rem; 
        display: flex;
        align-items: center;
        flex: 0;
    }

    &__img {
        overflow: hidden;
        img {
        height: 100%;
        width: 4rem;
        border-radius: 50%;
        }
        
    }

    &__name {
        color: $color-white;
        font-weight: 700;
        margin-bottom: .5rem;
       
        
    }

    &__title {
        color: $color-pink;
        font-weight: 500;
       
        
    }

    &__text {
        padding: 2rem 3rem;
        font-size: 1.4rem;
        line-height: 2rem;
        color: $color-lg-magenta;
        font-weight: 400;
    
    }
}

/*
@media screen and (max-width: 787px) {
    body {
        max-width: 79rem;
        display: grid;
        place-items: center;
    }

    .main {
        width: 100%;
    }
    
    .header {
        margin: 0 10rem;
    }
    .heading-1 {
        font-size: 4rem;
    }

    .heading-text {
        margin: 1rem 3rem;
    }

    .review {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 10rem;
    }

    #box-3 {
        width: 100%;
        margin-left: 13rem;
    }

 
    
} */
// 1440 px width
@media screen and (min-width: 1400px) {
    body {
        max-width: 140rem;
        display: grid;
        place-items: center;
    }

    .main {
        margin: 0 auto;
        width: 100%;
        max-width: 140rem;
        padding: 10rem;
     

        font-family: $font-main;
    }

    .div {
    display: flex;
    margin-bottom: 1.5rem;
    align-items: center;
    }
    
    .heading-1 {
        font-size: 3.5rem;
        font-weight: 700;
    }

    .header {
        width: 40%;
        margin: 0 5.3rem;
        text-align: left;
    }

    .heading-text {
        margin-left: 2rem;
    }

    .review {
        width: 60%;
        display: flex;
        flex-direction: column;

        &__box {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #box-2 {
            flex: 1 0 100%;
            margin-left: 10rem;
        }

        #box-3 {
            flex: 1 0 100%;
            margin-left: 14rem;
        }

        &__text {
            margin-left: 2rem;
        }
        
    }
    

    .cards {
        display: grid;
        grid-template-columns: repeat(3, minmax(25rem, 1fr));
        
        margin: 0 5rem;
    }

    .cardbox {
        margin: 2rem;
        
        &__head {
            margin: 1rem;
        }

        &__text {
            padding: 2rem;
        }
    }

    #card-2 {
        transform: translateY(1.5rem);
    }

    #card-3 {
        transform: translateY(3rem);
    }
}

